.army-info-alerts-container  {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
} 

.army-info-container {
    display: flex;
}

.army-info-right {
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.alerts {
    color: #D0312d;
    cursor: pointer;
}

.fa-caret-down {
    color: black;
}

.fa-caret-right {
    color: black;
}

.alerts i {
    margin-right: 10px;
}