.army-list-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* gap: 70px; */
  /* left: 1000px; */
}

.print-a4-page {
  size: 21cm 29.7cm;
  height: calc(29.7cm - 20mm);
  margin: 10mm 10mm 10mm 10mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}

#armylist {
  display: none;
}

.rules-box {
  font-size: 0.8rem;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

.rule-title {
  font-weight: bold;
}

.magic-box {
  
}
