.army-info-alerts-container {
  background-color: var(--tertiary);
  box-sizing: border-box;
  width: 95%;
  max-width: 1200px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
}

.army-info-container {
  display: flex;
  align-items: center;
}

.army-info-right {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
}

.alerts {
  color: #d0312d;
  cursor: pointer;
}

.fa-caret-down {
  color: var(--dark-text);
}

.fa-caret-right {
  color: var(--dark-text);
}

.alerts i {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .army-info-container {
    flex-direction: column;
    gap: 10px;
  }
  .army-info-right {
    flex-direction: column;
    margin: 0 auto;
  }
}
