.army-list-container {
  background-color: var(--inputs);
  display: flex;
  flex-direction: column;
  /* gap: 70px; */
  /* left: 1000px; */
}

.print-a4-page {
  size: 21cm 29.7cm;
  height: calc(29.7cm - 20mm);
  margin: 10mm 10mm 10mm 10mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}

#armylist {
}

.rules-box {
  font-size: 12px;
  flex-direction: column;
  gap: 0.5rem;
  display: flex;
}

.rule-title {
  font-weight: bold;
}

.magic-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spell-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 0.8rem;
}

.spell-school-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
}

.spell-card-text {
  font-size: 0.8rem;
}

.capitalize-first {
  text-transform: lowercase;
}
.capitalize-first::first-letter {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}
