.builder {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary);
  flex: 1;
  min-height: calc(100vh - 50px);
  padding-top: 10px;
}

.main-builder-container {
  width: 95%;
  display: flex;
  gap: 10px;
}

.side-builder-left {
  flex: 1;
}

.side-builder-left div {
  margin-bottom: 10px;
}

.builder-select-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.builder-select-container select {
  height: 25px;
}

.unit {
  box-sizing: border-box;
  background-color: white;
  flex: 1;
  border: 1px solid black;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.unit li {
  width: 100%;
  display: flex;
}

.unit-info-container {
  color: #2b0702;
  font-weight: bold;
  cursor: pointer;
}

.unit table {
  border-collapse: collapse;
  border-style: hidden;
  font-size: 0.8rem;
}

.unit table thead tr td {
  width: 30px;
  text-align: center;
  border: 1px solid black;
}
.unit table thead tr td:nth-of-type(1) {
  padding: 5px;
  text-align: left;
}

.unit table thead {
  font-weight: bold;
  text-align: center;
}

.unit table tbody tr td {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

.unit table tbody tr td:nth-of-type(1) {
  padding: 5px;
  text-align: left;
}

.unit-name {
  flex: 1;
}

.unit-info {
  display: flex;
  gap: 10px;
  cursor: default;
}

.modal-unit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.unit-info span:nth-of-type(3),
.unit-info span:nth-of-type(4) {
  cursor: pointer;
}

.button {
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--main);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--hover);
}

.save-army-button {
  padding: 10px;
  margin: 10px;
}

.builder-controls {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.builder-controls button {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .main-builder-container {
    flex-direction: column;
  }

  .side-builder-right .army-list-container {
    display: none;
  }

  .side-builder-right {
    padding: 10px;
  }

  .equipment-list {
    flex-direction: column;
  }

  .edit-unit-container {
    padding: 0;
  }
}
