.armylist-info {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-bottom: 10px;
  align-items: center;
}

.armylists-text-container {
  display: flex;
  gap: 5px;
  flex: 1;
}

.armylists-button-container {
  display: flex;
  gap: 5px;
  justify-self: end;
}

.armylist-info button {
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  background-color: var(--main);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.armylist-info button:not(.delete-list-button):hover {
  background-color: #006400;
  font-weight: bold;
}

.delete-list-button:hover {
  background-color: var(--error);
  font-weight: bold;
}

.armylist-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.armylists-title {
  text-align: center;
  margin-bottom: 20px;
}

.armylist-date {
  margin-left: auto;
}

.icon {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .armylist-info {
    gap: 2px;
    flex-direction: column;
  }
}
