.navbar {
  height: 50px;
  background-color: var(--main);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  text-decoration: none;
  flex: 1;

}

.navbar li {
  height: 50px;
  align-items: center;
}

.navbar li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 50px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.navbar a:hover {
  background-color: var(--hover);
}

.logout-button {
height: 50px;
border: none;
background-color: transparent;
transition: background-color 0.5s ease;
cursor: pointer;
color: white;

}

.logout-button:hover {
  background-color: var(--hover);
}
