.bold {
  font-weight: bold;
}

.army-list {
  display: flex;
  flex-direction: column;
  width: 670px;
  margin: 0 auto;
  gap: 5px;
}

.unit-table {
  box-sizing: border-box;
  display: flex;
  border: 2px solid black;
  flex-direction: row;
  width: 100%;
  padding: 3px 3px 4px 3px;
  gap: 3px;
}

.unit-table-henchmen {
  box-sizing: border-box;
  display: flex;
  border: 2px solid black;
  flex-direction: row;
  width: 100%;
  padding: 3px;
  gap: 3px;
}

.stats-table {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr 0.6fr 0.6fr 0.8fr 0.8fr;
  width: 250px;
}

.stats-table-henchmen {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 250px;
}

.stats-table-henchmen div {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 2px;
}

.stats-table div {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 2px;
}

.unit-table-name {
  grid-column: 1 / span 11;
  margin-bottom: -1px;
  font-size: 0.8rem;
  gap: 2px;
  border-bottom: 0cm;
}

.unit-table-type {
  grid-column: 1 / span 11;
  font-size: 0.8rem;
  gap: 2px;
  margin-bottom: -1px;
}

.unit-table-skills {
  display: flex;
  gap: 2px;
  grid-column: 1 / span 11;
  font-size: 0.45rem;
  margin-bottom: -1px;
}
.unit-table-skills i {
  margin-right: 2px;
}
.unit-table-stats-headers {
  justify-content: center;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 0.45rem;
  margin-bottom: -1px;
}

.unit-table-stats {
  justify-content: center;
  font-size: 0.6rem;
  margin-bottom: -1px;
  margin-right: -1px;
  white-space: nowrap;

}

.stats-table div:nth-of-type(15),
.stats-table div:nth-of-type(26),
.stats-table div:nth-of-type(37) {
   font-size: 0.55rem;
}

.stats-table div:nth-of-type(25),
.stats-table div:nth-of-type(36),
.stats-table div:nth-of-type(47) {
  margin-right: 0;
}

.stats-table-henchmen div:nth-of-type(14),
.stats-table-henchmen div:nth-of-type(25),
.stats-table-henchmen div:nth-of-type(36)
{
  font-size: 0.55rem;
}

.stats-table-henchmen div:nth-of-type(24),
.stats-table-henchmen div:nth-of-type(35),
.stats-table-henchmen div:nth-of-type(46) {
  margin-right: 0;
}

.equipment-table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  flex: 3;
}

.equipment-table div {
  border: 1px solid black;
  font-size: 0.55rem;
}

.skills {
  box-sizing: border-box;
  grid-area: 1 / 1 / 7 / 4;
  padding: 2px;
  margin-right: -1px;
  margin-bottom: -1px;
}
.equipment {
  box-sizing: border-box;
  grid-area: 1 / 4 / 6 / 7;
  padding: 2px;
  margin-bottom: -1px;
}
.experience {
  box-sizing: border-box;
  padding: 2px;
  grid-area: 7 / 1 / span 11 / 7;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  margin-bottom: -1px;
}

.experience span {
  box-sizing: border-box;
  width: 8px;
  height: 8px;

}

.experience-box {
  border: 1px solid black;
  cursor: pointer;
}

.experience-box-bold {
  border: 2px solid black;
  cursor: pointer;
}
.injuries {
  box-sizing: border-box;
  grid-area: 6 / 4 / 7 / 7;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-bottom: -1px;
}

.equipment-table-henchmen {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  flex: 3;
  margin-bottom: -1px;
}

.unit-table-type-henchmen {
  grid-column: 1 / span 11;
  font-size: 0.8rem;
  gap: 2px;
}

.number-henchmen {
  margin-left: auto;
}

.equipment-table-henchmen div {
  border: 1px solid black;
  font-size: 0.55rem;
}

.skills-henchmen {
  grid-area: 1 / 1 / 11 / 4;
  padding: 2px;
  margin-right: -1px;
}

.equipment-henchmen {
  grid-area: 1 / 4 / 8 / 7;
  padding: 2px;
  margin-bottom: -1px;
}

.experience-henchmen {
  grid-area: 8 / 4 / 11 / 7;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.experience-henchmen span {
  box-sizing: border-box;
  width: 9px;
  height: 9px;
}

.unit-table-height2 {
  height: 120px;
}

.unit-table-height3 {
  height: 128px;
}

.unit-table-henchmen2 {
  height: 120px;
}
