.equipment-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.equipment-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.equipment-list-name {
  text-align: center;
}

.equipment-type-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.equipment-type-list h4 {
  text-align: center;
}

.equipment-type-list ul {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.equipment-type-list input {
  margin-right: 3px;
}

.equipment-type-list li {
  position: relative;
}

.equipment-tooltip {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 20px;
  border: 1px solid black;
}

