* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: #E7E9EB;
  min-height: 100vh;
}



li {
  list-style: none;
}

